#app {
    position: absolute;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;

    padding: 20px;

    &-button {
        padding-top: 20px;
    }
}

.button {
    background: #222;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    font-size: 1em;
    font-family: arial;
    color: #fff;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: translate(5px, -5px);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
    }
}